<div class="left_sidebar sidebtipt show-leftbar">
    <ul class="nav">
        <li class="" id="bookingMgt-dashboard">
            <a ng-click="redirecttodashboard()" style="cursor:pointer;" data-toggle="tab" class="" id="startDashboard"><i class="fas fa-home"></i><small>Dashboard</small></a>
        </li>
        <li class="" id="bookingMgt-calendar">
            <a ng-click="redirectToCalendar()" data-toggle="tab" class="" id="startCalendar"><i class="fas fa-calendar-alt"></i><small>Calendar</small></a>
        </li>
        <li class="active" id="bookingMgt-customers" title="">
            <a ng-click="redirecttoCustomer()" style="cursor:pointer;" data-toggle="tab" class="" id="side-nav-customers"><i class="fas fa-user-friends"></i><small>Customers</small></a>
        </li>
        <li class="bookingMgt-settings_new dropdown" ng-class="{'open' : toggle }" id="bookingMgt-settings">
            <a ng-click="toggle = !toggle" class="aaaaa" data-toggle="collapse" data-target="#keySettings"><i class="fas fa-cog"></i><small>Settings</small></a>
            <ul class="collapse bbbbb" id="keySettings">
                <li ng-click="RedirecttoStaff()" id="redirecttostaffactive" class=""><a class="staffCss">Staff</a></li>
                <li ng-click="redirecttoServices()" id="redirecttoservicesactive"><a class="staffCss">Service</a></li>
                <li><a class="listbborder cursorhand staffCss" data-toggle="modal" data-target="#myModal">Business</a></li>
            </ul>
        </li>
        <li class="reports bookingMgt-settings_new dropdown" id="bookingMgt-reports">
            <a ng-click="" class="aaaaa" data-toggle="collapse" data-target="#keyReports"><i class="fas fa-chart-line"></i><small>Reports</small></a>
            <ul class="collapse bbbbb" id="keyReports">
                <li ng-click="RedirecttoReport()" id="active-business"><a class="staffCss">Business</a></li>
                <li ng-click="RedirecttoResourceReport()" id="active-resource"><a class="staffCss">Resource</a></li>
                <li ng-click="RedirecttoServiceReport()" id="active-service"><a class="staffCss">Service</a></li>
                <li ng-click="RedirecttoCustomerReport()" id="bookinhMgt-paymentMainTab"><a class="staffCss">Customer</a></li>
            </ul>
        </li>
    </ul>
</div>
