<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
<header class="top">
    <div class="pull-right movileViewList">
        <ul class="nav navbar-nav navbar-right ">
            <li><a href="#" id="menuiconBar" class="mobileViewIconBar"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="top_right settingTopRight">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="Mgt-upgrade_btn"><a href="#" title="">Upgrade</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fas fa-bell"></i> <span class="caret"></span> </a>
                            <!-- /.dropdown-user -->
                            <ul class="dropdown-menu dropdown-user animated flipInY">
                                <li id="my_details">
                                    <a href="#">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-user bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">test@gmail.com</h3>
                                            <p class="nav-dropdown-desc-text">Username/password</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li id="account_details">
                                    <a href="#">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-account-plan bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">Account Plan</h3>
                                            <p class="nav-dropdown-desc-text">Update account</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-cog bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">Refresh</h3>
                                            <p class="nav-dropdown-desc-text">Updates the Page</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li id="sign_out" class="nav-dropdown-li-last">
                                    <a ng-click="Logout()" class="cursorhand">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-log-out bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">Sign Out</h3>
                                            <p class="nav-dropdown-desc-text">See you soon!</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="bookingMgt-icon-user nav_user_icon"></i> <span class="caret"></span> </a>
                            <!-- /.dropdown-user -->
                            <ul class="dropdown-menu dropdown-user animated flipInY">
                                <li id="my_details">
                                    <a href="#">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-user bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">{{companyEmail}}</h3>
                                            <p class="nav-dropdown-desc-text">Username/password</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li id="account_details">
                                    <a href="#">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-account-plan bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">Account Plan</h3>
                                            <p class="nav-dropdown-desc-text">Update account</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-cog bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">Refresh</h3>
                                            <p class="nav-dropdown-desc-text">Updates the Page</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li id="sign_out" class="nav-dropdown-li-last">
                                    <a ng-click="Logout()" class="cursorhand">
                                        <div class="nav-dropdown-icon-holder"> <span class="bookingMgt-icon-log-out bookingMgt-icon-fsize"></span> </div>
                                        <div class="nav-dropdown-desc-holder">
                                            <h3 class="nav-dropdown-desc-header">Sign Out</h3>
                                            <p class="nav-dropdown-desc-text">See you soon!</p>
                                        </div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div class="clearfix"> </div>
    <div style="width: 100%;text-align: center;position: absolute;z-index: 999999; top:65px;right:0;left:0;bottom:0;margin:0 auto;" ng-if="IsVisible"><span class="noDisplay" style="background:#2089da; color:#fff; padding:5px 10px; border-radius:0 0 2px 2px;" ng-bind="MessageText"></span></div>
</header>
<div class="left_sidebar sidebtipt">
    <ul class="nav">
        <li class="logo_sec">
            <a class="logo-sec" href="https://ibb.co/dg9iJd"><img src="https://thumb.ibb.co/dg9iJd/booking_com.png" alt="booking_com" border="0"></a>
            <p><a href="#"><img src="https://thumb.ibb.co/kbHWOd/icon.png" alt="icon" border="0"></a></p>
        </li>
        <li class="" id="bookingMgt-dashboard">
            <a ng-click="redirecttodashboard()" style="cursor:pointer;" data-toggle="tab" class="" id="startDashboard"><i class="fas fa-home"></i><small>Dashboard</small></a>
        </li>
        <li class="" id="bookingMgt-calendar">
            <a ng-click="redirectToCalendar()" data-toggle="tab" class="" id="startCalendar"><i class="fas fa-calendar-alt"></i><small>Calendar</small></a>
        </li>
        <li class="" id="bookingMgt-customers" title="">
            <a ng-click="redirecttoCustomer()" style="cursor:pointer;" data-toggle="tab" class="" id="side-nav-customers"><i class="fas fa-user-friends"></i><small>Customers</small></a>
        </li>
        <li class="" id="bookingMgt-settings_new">
            <a ng-click="RedirecttoStaff()" data-toggle="tab" class=""><i class="fas fa-cog"></i><small>Settings</small></a>
        </li>
        <li class="reports"> <a class="" ng-click="RedirecttoReport()"><i class="fas fa-chart-line"></i><small>Reports</small></a> </li>
    </ul>
</div>
<div class="fixed_div" ng-controller="bookingController" data-ng-init="init()">
    <div style="width: 100%;text-align: center;position: absolute;z-index: 999999; top:65px;right:0;left:0;bottom:0;margin:0 auto;" ng-if="IsVisible"><span class="noDisplay" style="background:#2089da; color:#fff; padding:5px 10px; border-radius:0 0 2px 2px;" ng-bind="MessageText"></span></div>
    <div class="demo_wizard wizardSec">
        <div class="demo_snipt">
            <div class="wizar_bg"></div>
            <div class="container_div">
                <div class="row setup-content" id="step-1" ng-hide="firstStep">
                    <div class="bookingMgt">
                        <h2>
                            Welcome to booking
                        </h2>
                        <p>We'll get you booking appointments in no time</p>
                    </div>
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel active_div2 ">
                            <div class="stepwizard-step" id="divstep1">
                                <a href="" type="button" class="btn_circle active" id="step1">
                                    <span id="span1">Business Info</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep2">
                                <a href="" type="button" class="btn_circle" id="step2">
                                    <span id="span2">Opening time</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep3">
                                <a href="" type="button" class="btn_circle" id="step3">
                                    <span id="span3">Resources</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep4">
                                <a href="" type="button" class="btn_circle" id="step4">
                                    <span id="span4">Services</span>
                                </a>
                            </div>

                        </div>
                    </div>
                    <form ng-submit="submitInfo(step1)" name="step1" novalidate class="css-form">
                        <div class="col-xs-12">
                            <div class="col-md-12 wizardPadDiv">
                                <p>Setup only takes a moment, you'll be booking appointments in no time.</p>
                                <div class="group_label">
                                    <div class="form-group">
                                        <label class="control-label">Business Name</label>
                                        <input maxlength="100" type="text" class="form-control" ng-model="businessName" id="businessName" placeholder="Business Name" name="buisnessName" required />
                                    </div>
                                    <div class="form-group industryformDiv">
                                        <label class="control-label">Sector:</label>

                                        <select class="form-control" ng-model="selectedIndustry" data-ng-options="Industry.id as Industry.name for Industry in businessIndustry" name="Industry">
                                            <option value="" selected="selected">Choose Sector...</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Phone No:</label>
                                        <input maxlength="100" type="text" class="form-control" placeholder="Phone" ng-model="businessPhone" name="buisnessPhone" />
                                    </div>
                                    <div class="form-group industryformDiv">
                                        <label class="control-label">Country:</label>

                                        <select class="form-control">
                                            <option selected>Choose Country...</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Currency:</label>
                                        <input maxlength="100" disabled type="text" class="form-control" placeholder="$" name="" />
                                    </div>
                                    <div class="bookingMgt back_btn">
                                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="submit">NEXT <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row setup-content" id="step-2" ng-hide="secondStep">
                    <div class="bookingMgt">
                        <h2>Set your opening times</h2>
                        <p></p>
                    </div>
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel active_div2 ">
                            <div class="stepwizard-step" id="divstep1">
                                <a href="" type="button" class="btn_circle" id="step1">
                                    <span id="span1">Business Info</span>
                                </a>

                            </div>
                            <div class="stepwizard-step" id="divstep2">
                                <a href="" type="button" class="btn_circle active" id="step2">
                                    <span id="span2">Opening time</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep3">
                                <a href="" type="button" class="btn_circle" id="step3">
                                    <span id="span3">Resources</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep4">
                                <a href="" type="button" class="btn_circle" id="step4">
                                    <span id="span4">Services</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form ng-submit="setUpBusiness()" name="step2">
                        <div class="col-xs-12">
                            <div class="col-md-12 wizardPadDiv">
                                <div class="group_label">
                                    <div class="colom_div" ng-repeat="timedata in businessHourInfo">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div class="week_div">
                                                    <p class="maya">{{timedata.day}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" ng-model="timedata.available" class="onoffswitch-checkbox" checked>
                                                    <label class="onoffswitch-label" ng-click="switchOnOff(timedata)" for="myonoffswitch">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="week_div businessHourSelect businesshourDiv">
                                                    <select class="select_btn" ng-required="true" ng-model="timedata.timeFrom" ng-disabled="!timedata.available">
                                                        <option ng-repeat="option in timeInfoFrom" value="{{option}}">{{option}}</option>
                                                    </select>
                                                    <span>to</span>
                                                    <select class="select_btn" ng-required="true" ng-model="timedata.timeTo" ng-disabled="!timedata.available">
                                                        <option ng-repeat="option in timeInfoTo" value="{{option}}">{{option}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-striped table_control"></table>
                                    <div class="bookingMgt back_btn">
                                        <div class="pull-left">
                                            <button type="button" class="btn btn-primary nextBtn btn-lg pull-left" ng-click="backSecondStep()"><span style="float:right;padding: 1px; "> PREVIOUS</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                        </div>
                                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="submit">NEXT <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row setup-content" id="step-3" ng-hide="thirdStep">
                    <div class="bookingMgt">
                        <h2>Add Your Staff</h2>
                        <p>Don't worry - you can always edit these later</p>
                    </div>
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel active_div2 ">
                            <div class="stepwizard-step" id="divstep1">
                                <a href="" type="button" class="btn_circle" id="step1">
                                    <span id="span1">Business Info</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep2">
                                <a href="" type="button" class="btn_circle" id="step2">
                                    <span id="span2">Opening time</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep3">
                                <a href="" type="button" class="btn_circle active" id="step3">
                                    <span id="span3">Resources</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep4">
                                <a href="" type="button" class="btn_circle" id="step4">
                                    <span id="span4">Services</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<form ng-submit="addStaff()" name="step3">-->
                    <div class="col-xs-12">
                        <div class="col-md-12 wizardPadDiv">
                            <div class="group_label">
                                <div class="step3_form" style="">
                                    <div class="row" ng-repeat="company in staffInfo">
                                        <div class="col-md-2 col-sm-2 text-center">
                                            <label for="exampleInputName2"><img src="../Content/Assets/images/user_img.png"></label>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group ">
                                                <input type="text" class="form-control" id="staffName" ng-model="company.staffName" ng-blur="EditStaff(company)" value="" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="email" class="form-control" ng-model="company.staffEmail" ng-blur="EditStaff(company)" id="staffEmail" placeholder="">
                                            </div>
                                        </div><div class="col-md-2 col-sm-2 text-left">
                                            <a class="close_img" style="cursor: pointer;" ng-click="removeRow(company.Id)"><i class="far fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <form ng-submit="addStaffItem(step3)" name="step3" novalidate class="css-form">
                                        <div class="
                                             ">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 text-center" style="<!--padding-left: 55px;-->">
                                                    <label for="exampleInputName2"><img src="../Content/Assets/images/user_img.png"></label>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="form-group ">
                                                        <input type="text" style="height:40px;" ng-model="staffName" class="form-control" id="exampleInputName2" placeholder="Name" name="staffName" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="form-group">
                                                        <input type="email" style="height:40px;" ng-model="staffEmail" class="form-control" id="exampleInputEmail2" placeholder="Email" name="staffEmail" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <button type="submit" class="btn btn-default">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="bookingMgt back_btn">
                                    <button type="button" class="btn btn-primary nextBtn btn-lg pull-left" ng-click="backThirdStep()"><span style="float:right;padding: 1px; "> PREVIOUS</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" ng-click="addStaff()">NEXT <i class=" fa fa-chevron-right" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-4" ng-hide="fourthStep">
                    <div class="bookingMgt">
                        <h2>Add the Services You Offer</h2>
                        <p>Don't worry - you'll be able to edit these later</p>
                    </div>
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel active_div2 ">
                            <div class="stepwizard-step" id="divstep1">
                                <a href="" type="button" class="btn_circle" id="step1">
                                    <span id="span1">Business Info</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep2">
                                <a href="" type="button" class="btn_circle" id="step2">
                                    <span id="span2">Opening time</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep3">
                                <a href="" type="button" class="btn_circle" id="step3">
                                    <span id="span3">Resources</span>
                                </a>
                            </div>
                            <div class="stepwizard-step" id="divstep4">
                                <a href="" type="button" class="btn_circle active" id="step4">
                                    <span id="span4">Services</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <form ng-submit="addServiceItem(step4)" name="step4" novalidate class="css-form">
                            <div class="col-md-12 wizardPadDiv">
                                <p class="_p">Your currency is set to Pound (£)</p>
                                <div class="group_label">
                                    <div class="step3_form">
                                        <div class="row" style="">
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <span style=";font-weight: 600;">Service Name</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <span style="font-weight: 600;" class="time">Time</span>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <span style="font-weight: 600;">Price (£)</span>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <span style="font-weight: 600;">Staff</span>
                                            </div>
                                        </div>
                                        <div class="row" ng-repeat="service in serviceInfo">
                                            <div ng-if="service.staff!=null">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" ng-model="service.serviceName" ng-blur="EditService(service)" id="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <div class="form-group ">
                                                        <input type="text" class="form-control" ng-model="service.DurationInMinutes" ng-blur="EditService(service)" name="ServiceDuration" id="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" ng-model="service.price" id="" ng-blur="EditService(service)" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="dropdown">
                                                            <button class="angle_down" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="showDropDownBinded($index)">
                                                                <i class="fa fa-user" aria-hidden="true"></i>{{service.staffCheckedCount}}<i class="fa fa-angle-down" aria-hidden="true"></i>
                                                            </button>
                                                            <ul class="dropdown-menu" style="display:block;max-height:200px;overflow-y:auto;" aria-labelledby="dLabel" ng-hide="showStaffBinded[$index]">
                                                                <li>Who can perform this service?</li>
                                                                <li><input type="checkbox" name="" class="servicestaffcheckbox" value="" ng-click="togglealldataSelection(service)" ng-blur="Updateallstaff(service)" ng-model="service.AllStaffChecked"> All Staff</li>
                                                                <li ng-repeat="item in service.staff">
                                                                    <input type="checkbox" name="selectedFruits[]" class="servicestaffcheckbox"
                                                                           value="{{item.staffEmail}}"
                                                                           ng-blur="toggledataSelection(service, item.Id,item.confirmed)" ng-click="allstaffselection(service)" ng-model="item.confirmed" ng-bind="item.Id"> {{item.FirstName}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-12 closeIconDiv text-center">
                                                    <a class="close_icon" style="cursor: pointer;" ng-click="removeServiceRow(service.Id)"><img src="../Content/Assets/images/close-img.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border_top sample_div" style="">
                                            <div class="row">
                                                <div style="" class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group ">
                                                        <input type="text" style="height: 40px;" class="form-control" id="sampleService" ng-model="sampleService" placeholder="Sample Service" name="sampleService" required>
                                                    </div>
                                                </div>
                                                <div style="" class="col-md-2 col-sm-2 col-xs-12">
                                                    <div class="form-group ">
                                                        <input type="text" style="height: 40px;" class="form-control" id="serviceTime" ng-model="serviceTime" placeholder="0 min" name="serviceTime" required>
                                                    </div>
                                                </div>
                                                <div style="" class="col-md-2 col-sm-2 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" style="height: 40px;" class="form-control" id="servicePrice" ng-model="servicePrice" placeholder="(£) 0" name="servicePrice" required>
                                                    </div>
                                                </div>
                                                <div style="" class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="dropdown">
                                                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="showDropDown()">
                                                                <i style="padding-right: 40px;" class="fa fa-user" aria-hidden="true"></i> <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                            </button>
                                                            <button type="submit" class="btn btn-default">Add</button>
                                                            <ul class="dropdown-menu" style="display:block;max-height: 200px;overflow-y:auto;" aria-labelledby="dLabel" ng-hide="showStaff">
                                                                <li>Who can perform this service?</li>
                                                                <li><input type="checkbox" class="staffcheckbox" name="" value="" ng-model="allstaffchecked" ng-click="toggleAllSelection()"> All Staff</li>
                                                                <li ng-repeat="staff in staffInfo">
                                                                    <input type="checkbox" ng-click="toggleSelection()" class="staffcheckbox" ng-model="staff.confirmed"> {{staff.staffName}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bookingMgt back_btn">
                                            <button type="button" class="btn btn-primary nextBtn btn-lg pull-left" ng-click="backFourthStep()"><span style="float:right;padding: 1px; "> PREVIOUS</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" ng-click="redirecttodashboard()">NEXT <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






