@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-i3vvu4');
	src:url('icomoon.eot?#iefix-i3vvu4') format('embedded-opentype'),
		url('icomoon.ttf?-i3vvu4') format('truetype'),
		url('icomoon.woff?-i3vvu4') format('woff'),
		url('icomoon.svg?-i3vvu4#icomoon') format('svg');
}